
# Tenho o seguinte esquema de pastas no servidor:
# - pasta controller
# -- main_controller.php
# - pasta public_html
# -- pasta sobre_mim
# --- sobre_mim.php
# -- pasta error
# --- pasta 404
# ---- 404.php
# -- .htacces
# -- index.php
# -- LICENSE
# -- robots.txt
# -- sitemap.xml
# - historico_de_erros_htacces.txt
# - historico_de_erros_php.txt
# 
# E com base nisso temos o seguinte código para o .htaccess que;
# 
# - Independente de qual rota o usuário utilizar ele seja redirecionado para o arquivo /controller/main_controller.php, únicas excessões são o /public_html/robots.txt, /public_html/sitemap.xml e o /public_html/LICENSE
# 
# - Se ocorrer algum erro na aplicação registre no arquivo /historico_de_erros_htaccess.txt e redirecionar o usuário para o arquivo /public_html/error/404.php se necessário
# 
# - Se o usuário acessar uma rota http, mande ele para a https se disponivel
# - Redireciona de www para não-www (se necessário)
# 
# - Previna o acesso ao arquivo .htaccess
# - Desativar a listagem de diretórios caso não encontre um arquivo
# - Proteções de cabeçalho:
# -- Proteger contra ataques de clickjacking.
# -- Melhorar a proteção contra XSS.
# -- Controlar a inclusão de conteúdo apenas de fontes confiáveis.
# -- Prevenir que o navegador faça "sniffing" do tipo de conteúdo.
# -- Evitar que dados sensíveis sejam armazenados em cache.
#
RewriteEngine On

# Redirecionar HTTP para HTTPS, exceto arquivos específicos
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/public_html/robots\.txt$ [NC]
RewriteCond %{REQUEST_URI} !^/public_html/sitemap\.xml$ [NC]
RewriteCond %{REQUEST_URI} !^/public_html/LICENSE$ [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirecionar de www para não-www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# Reescrever todas as requisições para o arquivo main_controller.php, exceto arquivos e pastas específicos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public_html/robots\.txt$ [NC]
RewriteCond %{REQUEST_URI} !^/public_html/sitemap\.xml$ [NC]
RewriteCond %{REQUEST_URI} !^/public_html/LICENSE$ [NC]
RewriteRule ^ controller/main_controller.php [L]

# Captura de erros e redirecionamento
ErrorLog /historico_de_erros_htacces.txt
ErrorDocument 404 /public_html/error/404.php

# Prevenção de acesso ao arquivo .htaccess
<FilesMatch "^\.htaccess$">
    Require all denied
</FilesMatch>

# Desativar listagem de diretórios
Options -Indexes

# Proteções de cabeçalho
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header set Content-Security-Policy "default-src 'self';"
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
Header set Pragma "no-cache"
Header unset ETag
FileETag None
